@model BarArticleP
@{
    ViewData["Title"] = "Ջնջել Բաղադրատոմսը";
}

<div class="col-md-12 ">

    <h1 class="text-center single-page-h1">@Model.Title</h1>
    <div class="col-lg-11 single-page-desc">
        <p class="single-page-p">@Html.Raw(Model.Description)</p>

        <div class="content-justify ">
            @{
                var base64 = Convert.ToBase64String(Model.ImgGeneral ?? new byte[0]);
                var imgsrc = string.Format("data:image/jpeg;base64,{0}", base64);
            }
            @if (!string.IsNullOrEmpty(base64))
            {
                <img class="single-page-img" src="@imgsrc" />
            }
        </div>
    </div>
</div>
<div class="text-center">
    <form class="text-center col-lg-11" style="margin:5px 0px" asp-controller="BarArticleP" asp-action="BarArticlesPostDelete" asp-route-id="@Model.BarArticleId" method="post">
        @if (User.IsInRole("admin"))
        {
            <input class="btn btn-danger" type="submit" id="Submit1" value="Համոզվա՞ծ եք,որ ցանկանում եք ջնջել" />

        }

    </form>
</div>
