@model BarArticleP

<div class="row">
    <div class="col-lg-10">
        <H1 class="single-page-h1">Փոփոխել Բաղադրատոմս</H1>

        <div class="col-md-8 ">
            <form asp-controller="BarArticleP" asp-action="ArticlesEdit" method="post" enctype="multipart/form-data">


                <input type="hidden" asp-for="BarArticleId" />
                <div asp-validation-summary="ModelOnly"></div>



                <div class="form-group">
                    <label asp-for="Title" class="text-left">
                        Անվանումը
                    </label>
                    <div>
                        <input asp-for="Title" type="text" value="@Model.Title" required autocomplete="off" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group">
                    <label asp-for="Description" class="text-left">
                        Նկարագիրը
                    </label>

                    <div>
                        <textarea asp-for="Description" value="@Model.Description" rows="10" cols="50" required></textarea>

                    </div>
                    <span asp-validation-for="Description"></span>

                </div>
                <div class="from-group">
                    <div class="content-justify ">
                        @{
                            var base64 = Convert.ToBase64String(Model.ImgGeneral ?? new byte[0]);
                            var imgsrc = string.Format("data:image/jpeg;base64,{0}", base64);
                        }
                        <img class="single-page-img" name="model" asp-for="ImgGeneral" id="model" src="@imgsrc" alt="Alternate Text11" />
                    </div>


                    <input type="file" name="image" asp-for="ImgGeneral" id="image">



                </div>
                <div class="form-group">


                    @{ <select asp-for="BarCategoryId"
                               asp-items="@(new SelectList(ViewBag.Category,"SubCategoryId","Name"))">

                            <option>Ընտրել Բաժինը</option>
                        </select>
                    }

                </div>
               

                <div class="form-group">
                    <input class="text-left" type="submit" value="Փոփոխել" />
                </div>


            </form>
        </div>
    </div>


</div>