@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Մոռացե՞լ եք գաղտնաբառը";
}

<h2>@ViewData["Title"]</h2>
<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
    <h4 style="margin-left: 5px; color: #4b4e46;"> Մուտքագրեք Ձեր էլեկտրոնային հասցեն</h4>
    
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label text-left" ></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Ուղարկել</button>
        </div>
    </div>
</form>