@{
    ViewData["Title"] = "Գաղտնաբառի վերականգնման հաստատում";
}

<h2>@ViewData["Title"]</h2>
<p>
    Ձեր գաղտնաբառը հաջողությամբ վերականգնված է, կարող եք մուտք գործել <a asp-action="Login"> այս հղումով </a>.
</p>