@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Գաղտնաբառի վերականգնում";
}

<h2>@ViewData["Title"]</h2>
<h4>Մուտքագրել գաղտնաբառ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Email" style="width:115px;text-align:left"></label>
                <input asp-for="Email" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Password" style="width:115px;text-align:left"></label>
                <input asp-for="Password" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirm" style="width:115px;text-align:left"></label>
                <input asp-for="PasswordConfirm" class="form-control" />

            </div>
            <button type="submit" class="btn btn-primary">Վերականգնել</button>
        </form>
    </div>
</div>