@{
    ViewData["Title"] = "Person";
}


@if (User.Identity.IsAuthenticated)
{
    <h1>Անձնական էջ</h1>
    <p>@User.Identity.Name</p>
   

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Ելք" />
    </form>
}
else
{
    <a class="btn btn-default" asp-controller="Account" asp-action="Login">Մուտք</a>
    <a class="btn btn-default" asp-controller="Account" asp-action="Register">Գրանցվել</a>
}
