@model ShopCartViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    @foreach (var item in Model.shopCart.ListShopItems)
    {
    <div class="alert alert-warning m-3">
        <b>Մեքենա ։</b>@item.Car.Name<br />
        @{CultureInfo us = new CultureInfo("en-US");}
        <b>Գին :</b>@item.Car.Price.ToString("c",us);
    </div>
    }
<hr />
<div class="btn btn-danger" asp-controller="Order">Վճարել</div>

</div>
