@{
    ViewData["Title"] = "Not Found";
}

<h1>@ViewBag.ErrorMessage</h1>

<a class="btn btn-default" style="margin:20px 0;" asp-action="index" asp-controller="Articles">
    Սեղմեք այստեղ գլխավոր էջ վերադառնալու համար
</a>