@model ArticleP

@{
    ViewData["Title"] = "AddArticle";
}




    <div class="row">
        <div class="col-lg-10">
            <H1 class="single-page-h1">Ավելացնել Բաղադրատոմս</H1>

            <div class="col-md-8 ">
                <form asp-controller="Articles" asp-action="ArticlesEdit" method="post" enctype="multipart/form-data">


                    <input type="hidden" asp-for="ArticleId" />
                    <div asp-validation-summary="ModelOnly"></div>



                    <div class="form-group">
                        <label asp-for="Title" class="text-left">
                            Անվանումը
                        </label>
                        <div>
                            <input asp-for="Title" type="text" required  autocomplete="off"/>
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label asp-for="Description" class="text-left">
                            Նկարագիրը
                        </label>

                        <div>
                            <textarea asp-for="Description"  rows="10" cols="50" required></textarea>

                        </div>
                        <span asp-validation-for="Description"></span>

                    </div>
                    <div class="from-group">
                        <input type="file" name="image" asp-for="ImgGeneral" id="image">
                    </div>
                    <div class="form-group">


                        @{ <select asp-for="SubCategoryId" name="SelectBox1"
                                   asp-items="@(new SelectList(ViewBag.Category,"SubCategoryId","Name"))">
                              
                                <option>Ընտրել Բաժինը</option>
                            </select>
                        }

                    </div>
                    <div class="form-group">
                        <label class="text-left">Սլայդի համար ավելացնել</label>
                        <input type="checkbox" asp-for="IfFavorite" style="height:30px;width:30px"/>

                    </div>
                    
                        <div class="form-group">
                            <input class="text-left" type="submit" value="Ավելացնել" />
                        </div>
                   

                </form>
            </div>
        </div>


    </div>