@model ArticleP
@{
    ViewData["Title"] = "SinglePage";
}
<div class="row">
    <div class="col-md-12 ">

        <h1 class="text-center single-page-h1">@Model.Title</h1>
        <div class="col-lg-11 single-page-desc">
            <p class="single-page-p">@Model.Description</p>

            <div class="content-justify "><img class="single-page-img" src="~/images/content_left_up_img.png" alt="Alternate Text" /></div>

        </div>

    </div>
</div>