@using Microsoft.AspNetCore.Identity
@model ReceptsPage.IdentityViewModels.ChangeRoleViewModel

<h2>Փոփոխել  @Model.UserEmail օգտատիրոջ դերը</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (var role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
                                      @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
                                }
    </div>
    <button type="submit" class="btn btn-primary">Պահպանել</button>
</form>