@model IEnumerable<ReceptsPage.ModelIdentity.AppRole>
@{
    ViewData["Title"] = "Դերերի ցանկ";
}
<div class="row">
    <div class="col-sm-2 "><h3><a class="btn btn-default" asp-action="AdminEdit" asp-controller="Roles">Ադմիններ</a></h3></div>
    <div class="col-sm-2 "><h3><a class="btn btn-default" asp-action="EditAll" asp-controller="Roles">"User" բոլորի համար</a></h3></div>
</div>
<h2>Դերերի ցուցակ</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Ջնջել
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<a class="btn btn-default" asp-action="Create">Ավելացնել դեր</a>
<a class="btn btn-default" asp-action="Index" asp-controller="Users">Օգտատերերի ցուցակ</a>
